body {
    margin:0px;
    padding:0px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#banner {
    height:40px;
    background-color:teal;
    padding-left:10px;
}

#banner h1 {
    margin:0px;
    color:white;
    font-size:30px;
    display:inline-block;
    line-height:35px;
}

#buttonBar {
    text-align:center;
}

#buttonBar input[type="button"] {
    border:1px solid black;
    background-color:lightgrey;
    font-size:1.25em;
    margin-top:5px;
    margin-bottom:5px;
}

#rhythmContainer {
    height:300px;
    text-align:center;
    overflow: hidden;
    outline: 1px solid purple;
}

#rhythm {
    display:inline-block;
    white-space: nowrap;
    outline: 1px solid red;
}

.preloader {
    display:none;
    height:300px;
    text-align:center;
}

.preloader img {
    display:inline-block;
    width:128px;
    margin-top:86px;
}

.system {
    display:inline-block;
    margin-top:40px;
    outline: 1px solid blue;
}

.first {
    margin-top:0px;
}

.measure {
    display:inline-block;
    outline: 1px solid green;
}

.note {
    display:inline-block;
    opacity:0;
    vertical-align: bottom;
    outline: 1px solid orange;
}

.spacer {
    width:0px;
    height:10px;
    background-color:red;
    display:inline-block;
}

#optionTabs ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

#optionTabs li {
    display:inline-block;
    height:35px;
    width:125px;
    line-height:35px;
    padding-left:5px;
    padding-right:5px;
    margin-left:2px;
    margin-right:3px;
    text-align:center;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}

#optionTabs li.selected {
    background-color:teal;
    color:white;
}

#options {
    width:800px;
    margin-left:auto;
    margin-right:auto;
}

.optionsPage {
    border:1px solid black;
    min-height:305px;
    padding:10px;
}

.selectionWrapper {
    margin-top:5px;
    margin-bottom:5px;
}

#generalOptions label {
    display:inline-block;
    width:130px;
    text-align:right;
    padding-right:5px;
}

#generalOptions select {
    width:130px;
    border:1px solid black;
    font-size:.95em;
}

#noteOptions {
    text-align:center;
    display:none;
}

#noteOptions fieldset {
    display:inline-block;
    width:370px;
    padding-top:5px;
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;
    margin:5px;
    border:1px solid black;
}

#noteOptions legend {
    text-align:left;
    margin-left:10px;
    font-size:.95em;
}

.noteLabelWrapper {
    display:inline-block;
    width:50px;
    white-space:nowrap;
    overflow:hidden;
    text-align:left;
    margin-left:1px;
    margin-right:1px;
}

img.noteLabel {
    height:30px;
}

img[title="whole rest"] {
    position:relative;
    left:-30px;
}